
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1490769586912'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1490769586912#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1490769586912') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1490769586912') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1490769586912#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-pingguo{
  font-size: 20px;
}
.icon-s{
  font-size: 20px;
}
.icon-search{
  font-size: 20px;
}
.icon-pingguo:before { content: "\e6d6"; }

.icon-s:before { content: "\e64b"; }

.icon-search:before { content: "\e600"; }

